/* shadow */
#login_navbar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #104099;
}
#login_navbar a {
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
#login_navbar form {
  padding: 20px;
}
#login_navbar form input[type=text], #login_navbar form input[type=password] {
  padding: 5px;
  text-align: center;
}
#login_navbar form input[type=submit] {
  padding: 5px;
}

.register_form {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  border-radius: 20px;
  float: right;
  width: 30%;
  margin-right: 5%;
  margin-top: 1%;
  background-color: silver;
  display: flex;
  flex-direction: column;
  border: 2px solid #cfcfcf;
}
.register_form input {
  border-radius: 10px;
  padding: 10px;
  margin: 1%;
  text-align: center;
  font-size: 15px;
  font-size: 15px;
  font-weight: bold;
}
.register_form input[type=submit] {
  background-color: #104099;
  padding: 5px;
  margin: 5%;
  color: white;
  width: 90%;
}
.register_form h3 {
  text-align: center;
}

#login_image {
  width: 700px;
  margin: 1% 0 0 2%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* shadow */
h1, h4 {
  text-align: center;
}

.main_nav {
  background-color: #104099;
  display: flex;
  justify-content: space-around;
}
.main_nav a, .main_nav form {
  color: #cfcfcf;
  padding: 15px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  width: auto;
}
.main_nav a:hover, .main_nav form:hover {
  color: black;
}
.side_bar {
  float: left;
  border: 2px solid black;
  width: 25%;
  height: 100%;
}

.friends_right_div {
  float: left;
  border: 2px solid black;
  width: 25%;
  height: 100%;
}

.main {
  float: left;
  width: 49%;
  border: 2px solid black;
}

.friendship_request {
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 5%;
  padding: 1%;
}
.friendship_request .friend_request_img {
  display: inline;
  width: 50px;
  height: 50px;
  padding: 1%;
  object-fit: cover;
  border-radius: 50%;
  margin: 3% 0 3% 3%;
}
.friendship_request .request_sender {
  display: inline;
  margin: 3% 0 3% 3%;
  font-weight: bold;
  font-size: large;
  color: black;
}
.friendship_request .accept_request_button {
  border-radius: 50%;
  margin-left: 30%;
  margin-right: 1%;
}
.friendship_request .ignore_request_button {
  border-radius: 50%;
}

.friend_box_div {
  margin: 1%;
  padding: 20px;
  background-color: white;
  border-radius: 5%;
}
.friend_box_div .friend_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 2%;
}
.friend_box_div .friend_link {
  color: black;
  font-weight: bold;
}
.friend_box_div button {
  float: right;
}

.message_box {
  display: none;
  position: absolute;
  border-radius: 5px;
  border: 1px solid #cfcfcf;
  bottom: 0;
  right: 10%;
  background-color: #cfcfcf;
  width: 20%;
  height: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #104099;
  padding: 10px 10px 10px 2px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.top_bar div img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}
.top_bar div a {
  margin-left: 10px;
  color: white;
  font-weight: bold;
}
.top_bar button {
  background-color: #104099;
  outline: none;
  border: none;
  color: white;
  font-family: "Zapf Dingbats";
}
.top_bar button:hover {
  color: silver;
}

.message_screen {
  border: 1px solid #cfcfcf;
  height: 227px;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.message_screen .user_message {
  margin: 3%;
  color: white;
  padding: 2px 5px 2px 5px;
  background-color: #1b92e2;
  border-radius: 10px;
  width: fit-content;
  max-width: 80%;
}

.compose_message {
  background-color: #cfcfcf;
  padding: 1% 0 1% 1%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.compose_message .message_input_div {
  display: inline;
}
.compose_message .message_input_div input {
  width: 80%;
  outline: none;
  border-radius: 10px;
  border: none;
  padding: 10px;
}
.compose_message .send_message_div {
  display: inline;
  margin-left: 3%;
}
.compose_message .send_message_div button {
  color: #104099;
  font-family: "Zapf Dingbats";
  font-size: large;
  border: none;
  outline: none;
  background-color: #cfcfcf;
  border-radius: 50%;
}
.compose_message .send_message_div button:hover {
  background-color: silver;
}

/* shadow */
@keyframes delete_post {
  0% {
    opacity: 1;
    height: 100%;
    line-height: 100%;
    padding: 20px;
    margin-bottom: 10px;
  }
  75% {
    opacity: 0;
    height: 100px;
    line-height: 100%;
    padding: 20px;
    margin-bottom: 10px;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    height: 0px;
    line-height: 0px;
    padding: 0px;
    margin-bottom: 0px;
    transform: scale(0);
    display: none;
  }
}
@keyframes hide_image {
  0% {
    width: 50px;
    height: 50px;
  }
  100% {
    width: 0px;
    height: 0px;
  }
}
.post {
  float: left;
  width: 98%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  margin: 1%;
  border-radius: 5px;
  opacity: 1;
  animation-name: delete_post;
  animation-duration: 1s;
  animation-play-state: paused;
  animation-fill-mode: forwards;
}
.post .delete_post_button {
  float: right;
  margin: 3% 3% 0% 0%;
  background-color: white;
  border: none;
  font-weight: bold;
}
.post .author_info_div .post_author_pic {
  display: inline;
  margin: 5% 3% 3% 2%;
  margin-right: 1px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.post .author_info_div .post_info {
  display: inline-flex;
  flex-direction: column;
  margin: 0px 0% 0% 2%;
}
.post .author_info_div .post_info .post_author_user {
  display: inline;
  margin-left: 1%;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: larger;
  color: black;
  text-decoration: none;
}
.post .author_info_div .post_info .post_author_user:hover {
  text-decoration: underline;
}
.post .author_info_div .post_info .post_date {
  display: inline;
}
.post .post_body {
  padding-left: 12%;
}

.new_post_div {
  float: left;
  width: 98%;
  margin-bottom: 10%;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 1%;
}
.new_post_div img {
  float: left;
  display: inline;
  margin: 2%;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.new_post_div div {
  float: left;
  display: inline;
  width: 80%;
  margin-top: -10px !important;
}
.new_post_div div textarea {
  display: inline;
  margin-top: 5%;
  width: 85%;
  border-radius: 40px;
  padding-left: 10px;
  font-size: 20px;
  height: 40px;
  resize: none;
  overflow: hidden;
}
.new_post_div div textarea:focus {
  outline: none;
}
.new_post_div div button {
  display: inline;
  margin: -10px 10px 20px 10px;
}

/* shadow */
.profile_pic_div, .user_info_div {
  float: left;
}

.profile_pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10%;
  border: 2px solid #1b92e2;
  filter: drop-shadow(10px 10px 4px rgba(41, 47, 79, 0.5));
}

.user_info_div {
  margin-left: 5%;
}
.user_info_div p {
  margin-top: 5%;
  text-align: center;
  font-size: 40px;
}
.user_info_div ul li {
  list-style: none;
  padding: 20px;
  font-family: Georgia, serif;
}

.upload_picture_div {
  z-index: 1;
  display: none;
  position: absolute;
  background-color: white;
  width: 50%;
  height: 70%;
  top: 10%;
  left: 25%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.upload_picture_div #close_button {
  float: right;
  margin: 5% 5% 5% 0%;
  background-color: white;
  border: none;
}
.upload_picture_div #close_button:hover {
  font-weight: bold;
}
.upload_picture_div h1 {
  margin: 3%;
  font-weight: normal;
}
.upload_picture_div img {
  border-radius: 50%;
  object-fit: cover;
  margin: 3% 3% 3% 13%;
  border: 2px solid black;
  width: 200px;
  height: 200px;
}
.upload_picture_div form p label {
  font-weight: bold;
  margin: 3% 3% 0% 3%;
}
.upload_picture_div form p label:hover {
  text-decoration: underline;
}
.upload_picture_div form input {
  display: none;
}

/* shadow */
.friendship_div {
  background-color: red;
  margin-left: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100% !important;
}
.friendship_div #friend_request_button {
  height: 50%;
  margin-left: 10%;
  margin-right: 1%;
}
.friendship_div #profile_friendname {
  display: inline;
}

html {
  font-family: sans-serif;
  background-color: #f0f2f5;
}

.profile_pic_small_icon {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

/*# sourceMappingURL=base.css.map */
