$grey: #cfcfcf;
$blue: rgb(16, 64, 153);
$white: white;
$black: black;
$cornflowerblue: rgb(27, 146, 226);
$silver: silver;
/* shadow */
$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$text_shadow: 0px -2px 0px rgba(0,0,0,1), 0 0 5px rgba(255,255,255,0.8),0 -4px 15px rgba(255,255,255,0.5);
