@import 'colors';


.profile_div {
    display: block;
    clear: right;
    float: left;
    background-color: red;
}

#friends_posts_div {  
    clear: left; 
    display: block;
    background-color: yellowgreen;
}