@import 'colors';
.friends_right_div {
 
}

#test_img {
  animation-name: hide_image;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}
h1 {
  text-align: center;
}


.main_nav {
  background-color: $blue;
  display: flex;
  justify-content: space-around;
  a, form  {
    color: $grey;
    padding: 15px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    width: auto;
    &:hover {
      color: $black;
    }
    &:active {
    
    }
  }
}

.side_bar {
  float: left;
  border: 2px solid black;
  width: 25%;
  height: 100%;
}

.friends_right_div {
  float: left;
  border: 2px solid black;
  width: 25%;
  height: 100%;
}


.main {
  float: left;
  width: 49%;
  border: 2px solid black;
}

.friendship_request {
  justify-content: space-around;
  align-items: center;
  background-color: $white;
  border-radius: 5%;
  padding: 1%;
  .friend_request_img {
    display: inline;
    width: 50px;
    height: 50px;
    padding: 1%;
    object-fit: cover;
    border-radius: 50%;
    margin: 3% 0 3% 3%;
  }
  .request_sender {
    display: inline;
    margin: 3% 0 3% 3%;
    font-weight: bold;
    font-size: large;
    color: $black;
  }
  .accept_request_button {
    border-radius: 50%;
    margin-left: 30%;
    margin-right: 1%;
  }
  .ignore_request_button {
    border-radius: 50%;
  }
}