@import 'colors';
.friends_right_div {
 
}

h1, h4 {
  text-align: center;
}

.main_nav {
  background-color: $blue;
  display: flex;
  justify-content: space-around;
  a, form  {
    color: $grey;
    padding: 15px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    width: auto;
    &:hover {
      color: $black;
    }
    &:active {
    
    }
  }
}

.side_bar {
  float: left;
  border: 2px solid black;
  width: 25%;
  height: 100%;
}

.friends_right_div {
  float: left;
  border: 2px solid black;
  width: 25%;
  height: 100%;
}

.main {
  float: left;
  width: 49%;
  border: 2px solid black;
}

.friendship_request {
  justify-content: space-around;
  align-items: center;
  background-color: $white;
  border-radius: 5%;
  padding: 1%;
  .friend_request_img {
    display: inline;
    width: 50px;
    height: 50px;
    padding: 1%;
    object-fit: cover;
    border-radius: 50%;
    margin: 3% 0 3% 3%;
  }
  .request_sender {
    display: inline;
    margin: 3% 0 3% 3%;
    font-weight: bold;
    font-size: large;
    color: $black;
  }
  .accept_request_button {
    border-radius: 50%;
    margin-left: 30%;
    margin-right: 1%;
  }
  .ignore_request_button {
    border-radius: 50%;
  }
}

.friend_box_div {
  margin: 1%;
  padding: 20px;
  background-color: $white;
  border-radius: 5%;

  .friend_img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 2%;
  }
  .friend_link {
    color: $black;
    font-weight: bold;
  }
  button {
    float: right;
  }
}

.message_box {
  display: none;
  position: absolute;
  border-radius: 5px;
  border: 1px solid $grey;
  bottom: 0;
  right: 10%;
  background-color: $grey;
  width: 20%;
  height: 50%;
  box-shadow: $shadow;
}

.top_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $blue;
  padding: 10px 10px 10px 2px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  
  div {
    
    img {
      width: 30px;
      height: 30px;
      object-fit: cover;
      border-radius: 50%;
    }
  
    a {
      margin-left: 10px;
      color: $white;
      font-weight: bold;
    }
  }

  button {
    background-color: $blue;
    outline: none;
    border: none;
    color: $white;
    font-family: 'Zapf Dingbats';
    &:hover {
      color: $silver;
      
    }
  }

}

.message_screen {
  border: 1px solid $grey;
  height: 227px;
  background-color: $white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow-y: auto;
  .receiver_message_div {
    float: right;
    width: 100%;
  }
  .user_message_div {
    width: 100%;
    float: right;
  }
  .receiver_message {
    margin: 5%;
    color: white;
    padding: 2px 5px 2px 5px;
    background-color: $cornflowerblue;
    border-radius: 10px;
    width: fit-content;
    max-width: 80%;
   
  }
  .user_message {
    float: right;
    text-align: right;
    margin: 5%;
    color: $black;
    padding: 2px 5px 2px 5px;
    background-color: $grey;
    border-radius: 10px;
    width: fit-content;
    max-width: 80%;
    overflow-x: hidden;
  }
}

.compose_message {
  background-color: $grey;
  padding: 1% 0 1% 1%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  .message_input_div {
    display: inline;
    input {
      width: 80%;
      outline: none;
      border-radius: 10px;
      border: none;
      padding: 10px;
    }
  }
  .send_message_div {
    display: inline;
    margin-left: 3%;
    button {
      color: $blue;
      font-family: 'Zapf Dingbats';
      font-size: large;
      border: none;
      outline: none;
      background-color: $grey;
      border-radius: 50%;
      &:hover {
        background-color: $silver;
      }
    }
  }
}

