@import 'colors';

.side_bar {
  float: left;
  border: 2px solid black;
  width: 25%;
  height: 100%;
}

.friends_right_div {
  float: left;
  border: 2px solid black;
  width: 25%;
  height: 100%;
}


.feed {
  float: left;
  width: 49%;
  border: 2px solid black;
}
