@import 'colors';

.profile_pic_div, .user_info_div {
  float: left;
}

.profile_pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 3%;
  border: 2px solid black;
  filter: drop-shadow(10px 10px 4px rgba(41,47,79, 0.5));
}


.user_info_div {
  border: 2px solid $black;
  p {
    text-align: center;
    font-size: large;

  }
  ul {
    li {
      list-style: none;
      padding: 20px;
      font-family: Georgia, serif;
    }
  }
}

.upload_picture_div {
  display: none;
  position: absolute;
  background-color: white;
  width: 50%;
  height: 70%;
  top: 10%;
  left: 25%;
  border-radius: 10px;
  box-shadow: $shadow;
  img {
    border-radius: 50%;
    object-fit: cover;
    margin: 3%;
    border: 2px solid black;
    width: 200px;
    height: 200px;
  }
  form {
    p {
      label {
        font-weight: bold;
        margin: 3% 3% 3% 10%;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    input {
      display: none;
    }
  }
}
