{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script type="text/babel" src="{% static 'social/javascript/layout.js' %}"></script>
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{% static 'social/styles/base.css' %}">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class='main_nav'>
      <a href="#">{{user}}</a>
      <a href="#">Messages</a>
      <a href="#">Settings</a>
      <form class="logout_form" action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <a class='logout_a' href="#">Log out</a>
      </form>
    </nav>
    <div class="index">
      {% block body %}{% endblock %}
    </div>
    <div class="side_bar">
      <ul>
        <li>item</li>
        <li>item2</li>
      </ul>
    </div>
    <div id='feed' class="feed">

    </div>
    <div class="friends_right_div">
      <p>Here is all the frienship stuff</p>
    </div>
  </body>
</html>
