@import 'login';
@import 'layout';
@import 'feed';
@import 'profile';
@import 'friends_profile';
@import 'find_friends';
@import 'sandbox';

html {
  font-family: sans-serif;
  background-color: #f0f2f5;
}


.profile_pic_small_icon {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}