@import 'colors';

.friendship_div {   
    margin-left: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100% !important;
    #friend_request_button {
        height: 50%;
        margin-left: 10%;
        margin-right: 1%;
    }
  
    #profile_friendname {
        display: inline;
    }
}

.profile_div {
    box-shadow: $shadow;
    float: left;
    margin: 1%;
    width: 98%;
    margin: none;
    background-color: $white;
    border-radius: 5px;
}

#friend_request_button {
    background-color: $white;
    border: none;
    outline: none;
    padding: 3%;
    border-radius: 5px;
    font-weight: bold;
    &:hover {
        background-color: $grey;
    }
    &:active {
        outline: 2px solid silver;
       
    }

}

