@import 'colors';

#login_navbar {
  margin: none !important;
  width: 100%;
  box-shadow: $shadow;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a {
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  form {
    padding: 20px;
    input[type=text], input[type=password]{
      padding: 5px;
      text-align: center;
    }
    input[type=submit]{
      padding: 5px;
    }
  }
  background-color: $blue;
}

.register_form {
  padding: 10px;
  border-radius: 20px;
  float: right;
  width: 30%;
  margin-right: 5%;
  margin-top: 1%;
  background-color: $white;
  display: flex;
  flex-direction: column;
  background-color: $background;
  input {
    background-color: $background;
    box-shadow: $shadow;
    border-radius: 10px;
    padding: 10px;
    margin: 2%;
    text-align: center;
    font-size: 15px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    outline: none;
  }
  input[type=submit] {
    background-color: $blue;
    padding: 5px;
    margin-top: 5%;
    color: $white;
    width: 96%;
  }
  h3 {
    text-align: center;
  }
}

#login_image {
  width: 700px;
  margin: 1% 0 0 2%;
  border-radius: 5px;
  box-shadow: $shadow;
}
