@import 'colors';

.profile_pic_div, .user_info_div {
  float: left;
}

.profile_pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10%;
  border: 2px solid $cornflowerblue;
  filter: drop-shadow(10px 10px 4px rgba(41,47,79, 0.5));
}


.user_info_div {
  
  margin-left: 5%;
  p {
    margin-top: 5%;
    text-align: center;
    font-size: 40px;
  }
  ul {
    li {
      list-style: none;
      padding: 20px;
      font-family: Georgia, serif;
      font-weight: bold;
    }
  }
}

.upload_picture_div {
  #close_button {
    float: right;
    margin: 5% 5% 5% 0%;
    background-color: white;
    border: none;
    &:hover {
      font-weight: bold;
    }
  }
  h1 {
    margin: 3%;
    font-weight: normal;

  }
  z-index: 1;
  display: none;
  position: absolute;
  background-color: white;
  width: 50%;
  height: 70%;
  top: 10%;
  left: 25%;
  border-radius: 10px;
  box-shadow: $shadow;
  text-align: center;
  
  img {
    border-radius: 50%;
    object-fit: cover;
    margin: 3% 3% 3% 13%;
    border: 2px solid black;
    width: 200px;
    height: 200px;
  }
  form {
    p {
      label {
        font-weight: bold;
        margin: 3% 3% 0% 3%;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    input {
      display: none;
    }
  }
}
