{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script type='text/babel' src="{% static 'social/javascript/react_components.js' %}"></script>
    <script type="text/babel" src="{% static 'social/javascript/layout.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'social/styles/base.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'social/favicon/favicon.ico' %}"/>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class='main_nav'>
      <a href="{% url 'index' %}" title='homepage'>DBSF</a>
      <form action="/find_friends" method="GET">
        <input name='search_term' type='text' placeholder='Search for friends'>
        <input class='search_friends_button' type="submit" value='&#x1F50D;'></form>
      <a href="{% url 'profile' %}">
        {% if user.profile_pic.url != '' %}
          <img class="profile_pic_small_icon" src="{{user.profile_pic.url}}" alt="profile_pic">
        {% else %}
          <img class='profile_pic_small_icon' src="{% static 'social/core_images/no_image.jpg' %}" alt="{{user}} hasn't uploaded an image yet">  
        {% endif %}
        {{user|title}}
      </a>
      <a href="#">Messages</a>
      <form class="logout_form" action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <a class='logout_a' href="/logout">Log out</a>
      </form>
    </nav>
    <div class="messages">
      <h1>{{message}}</h1>
    </div>
    <div class="side_bar">
      <h4>Friend Requests</h4>  
      <div id="friendship_request_div"></div> 
    </div>
    <div class="main">
      {% block body %}{% endblock %}
    </div>
    <div class="friends_right_div">
      <h4>Friends</h4>
      <div id='friendship_div'></div>
    </div>
    <div id='message_box' class='message_box'>
    </div>
  </body>
</html>
