{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <!-- Google Tag Manager -->
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5SLK8R4');
  </script>
  <!-- End Google Tag Manager -->
  <meta name='description' content="Don't be a shitty friend Social Media DBSF" >
    <link rel="stylesheet" href="{% static 'social/styles/base.css' %}">
    <meta charset="utf-8">
    <!-- structured data --> 
    <script type='application/ld+json'>
      {
      "@context": "https://schema.org/",
      "@type": "Social Media ",
      "name": "Don't be a shitty Friend",
      "author": {
          "@type": "Developer",
          "name": "Fabian Omobono"
      },
      "datePublished": "2018-03-10",
      "description": "This coffee cake is awesome and perfect for parties.",
      "prepTime": "PT20M"
      }
  </script>
  <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="353768358220-h0erg8v47qp5sa12ikvf3pluejlis03s.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer>gapi.auth2.init()</script>
    <title>Don't be a shitty Friend | Login</title>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5SLK8R4"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <nav id="login_navbar">
      <a href="#">DBSF</a>
      <div>
        <div>
          <form class="login_form" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{form}}
            <input id='login_submit_button' type="submit" name="" value="Log in">
        </div>
          <a href="/forgot_password" style='font-size: 10px; display: inline;'>Forgot your password?</a>
      </div>
      </form>      
    </nav> 
    <div class="message">
      {{message}}
    </div>
    <img id='login_image' src="{% static 'social/core_images/coglioni.jpg' %}" alt="">

    <form class="register_form" action="register" method="post">
      {% csrf_token %}
      <h3>New Here? Sign Up!</h3>
      {{register_form.First_name}}
      {{register_form.Last_name}}
      {{register_form.username}}
      {{register_form.email}}
      {{register_form.password}}
      {{register_form.password_confirmation}}
      <label for="" style="text-align:center;">Date of birth</label>
      {{register_form.dob}}
      <input type="submit" name="" value="Register">
    </form>
    <h4>Login with GOOGLE</h4>
    <div>
      <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    </div>
   
  </body>
  <script>
    function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
}
  </script>
</html>
