{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'social/styles/base.css' %}">
    <meta charset="utf-8">
    <title>DBSF | Login</title>
  </head>
  <body>
    <nav id="login_navbar">
      <a href="#">DBSF</a>
      <form class="login_form" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" name="" value="Log in">
      </form>
    </nav>
    <div class="message">
      {{message}}
    </div>
    <img id='login_image' src="{% static 'social/core_images/coglioni.jpg' %}" alt="">

    <form class="register_form" action="register" method="post">
      {% csrf_token %}
      <h3>New Here? Sign Up!</h3>
      {{register_form.First_name}}
      {{register_form.Last_name}}
      {{register_form.username}}
      {{register_form.email}}
      {{register_form.password}}
      {{register_form.password_confirmation}}
      <label for="" style="text-align:center;">Date of birth</label>
      {{register_form.dob}}
      <input type="submit" name="" value="Register">
    </form>
    <footer>Legal</footer>
  </body>
</html>
