<h1 id='title'>PLay</h1>


<script>
  const data = { 
    username : 'askjhgffdgdfg32',
    first_name : 'sdf',
    last_name : 'omobono',
    email : 'fabian.omobono@gmail.com',
    dob : '2021-04-19T02:44:48.584Z',
    password : 'Halftime1',
    confirmation : 'Halftime1'
    }
  fetch('https://dbsf.herokuapp.com/api/mobileSignUp', {
    
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    credentials: 'same-origin',
    body: JSON.stringify(data) 
  }).then(res => res.json()).then(r => console.log(r.response)).catch(f => console.log(f))
</script>
