<h1 id='title'>PLay</h1>


<script>
  const data = { 
   text: 'this will be the post text'
    }
  fetch('http://127.0.0.1:8000/api/comment', {
    
    method: 'POST',
    headers: {
      'Authorization': 'Token c0633ed03748350e853f332a5b68e4aa1ce1f149',
      'Content-Type': 'application/json',
    },
    credentials: 'same-origin',
    body: JSON.stringify({
      post_id: 169,
      text: 'this is a comment test text'
    }) 
  }).then(res => res.json()).then(r => console.log(r.response)).catch(f => console.log(f))
</script>
